{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    {{parent()}}
{% endblock %}

{% block title %}Календарь{% endblock %}

{% block body %}
<div id="left-side" class="left-side-calendar">
    <div id="static">
        <img id="logo" src="{{ asset('img/logo.png') }}">
        <ul id="menu">
            <li class="menu-item {{ app.request.get('_route') == 'home' ? 'active' }}"><a href="{{ path('home') }}">Главная</a></li>
            <li class="menu-item {{ app.request.get('_route') == 'calendar' ? 'active' }}"><a href="{{ path('calendar') }}">Календарь событий</a></li>
            <li class="menu-item {{ app.request.get('_route') == 'booking' ? 'active' }}"><a href="{{ path('booking') }}">Бронирование</a></li>
        </ul>

        <div id="calendar-manage">
            <div id="calendar-left"></div>
            <div id="calendar-center">
                <div id="calendar-date"></div>
            </div>
            <div id="calendar-right"></div>
        </div>
    </div>
</div>
<div id="desktop-center">
    <div id='calendar'></div>
</div>
    
{% endblock %}

{% block javascripts %}
	{{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/ru.js') }}"></script>
    
    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}