{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
	}
{% endblock %}

{% block title %}Календарь{% endblock %}

{% block body %}
    {#% include '@FullCalendarCalendar/calendar.html.twig' %#}
    <div id='calendar'></div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/ru.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
      
                events: '/calendrierFeed',
                defaultView: 'month',
                selectable:false,
                selectHelper:false,
                editable:false
            });
        });
    </script>
{% endblock %}