{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    {{parent()}}
{% endblock %}

{% block title %}Календарь{% endblock %}

{% block body %}
<div id="left-side" class="left-side-calendar">
    <div id="static">
        {% if is_mobile() %}
            <div id="logo">
                <a href="{{ path('home') }}"><img src="{{ asset('img/logo-mobile.svg') }}"></a>
            </div>
        {% else %}
            <a href="{{ path('home') }}"><img id="logo" src="{{ asset('img/logo-desktop.svg') }}"></a>
        {% endif %}
        <ul id="menu">
            <li class="menu-item {{ app.request.get('_route') == 'home' ? 'active' }}"><a href="{{ path('home') }}">Бронирование</a></li>
            <li class="menu-item {{ app.request.get('_route') == 'calendar' ? 'active' }}"><a href="{{ path('calendar') }}">Календарь</a></li>
            <li class="menu-item {{ app.request.get('_route') == 'contacts' ? 'active' }}"><a href="{{ path('contacts') }}">Контакты</a></li>
        </ul>

        <div id="calendar-manage">
            <div id="calendar-left"></div>
            <div id="calendar-center">
                <div id="calendar-date"></div>
            </div>
            <div id="calendar-right"></div>
        </div>
        
        <form id="filter-events">
            <h3>Отображаемые категории:</h3>
            {% for category in categories %}
            <div class="checkbox-group">
                <input type="checkbox" name="filter-event" id="{{category.title}}" value="{{category.title}}" checked="checked">
                <label for="{{category.title}}" style="color:{{category.color}}">{{category.title}}</label>
            </div>
            {% endfor %}
        </form>
    </div>
</div>
<div id="desktop-center">
    <div id='calendar'></div>
</div>
<div id="mobile-center">
    <div id='mobile-calendar'></div>
</div>
<div id="modal-form-wrapper">
    <div id="modal-form">
        <div class="modal-close" id="modal-form-close">
            <img src="{{ asset('img/close.svg') }}">
        </div>
        <div id="form-title">Заявка на участие</div>
        <h3><strong>Название:</strong> <span id="event-title"></span></h3>
        <p><strong>Описание:</strong> <span id="event-description"></span></p>
        <p><strong>Дата:</strong> <span id="event-date"></span></p>
        <p><strong>Время:</strong> <span id="event-time"></p>
        <div id="form-body">
            <form id="event-booking" class="uk-form">
                <input name="form-event" hidden>
                <input name="form-date" hidden>
                <input name="form-begin" hidden>
                <div class="form-wide">
                    <div class="form-inline">
                        <label for="name">Имя</label>
                        <input name="form-name" id="form-name" type="text" required>
                    </div>
                    <div class="form-inline">
                        <label for="number">Количество человек</label>
                        <input name="form-number" id="form-number" type="number" min="1" value="1" required>
                    </div>
                    <div class="form-inline">
                        <label for="phone">Телефон*</label>
                        <input name="form-phone" id="form-phone" type="tel" required>
                    </div>
                </div>
    
                <div class="form-group form-wide">
                    <label for="message">Комментарий к заказу (не обязательно)</label>
                    <textarea name="form-message" id="form-message" type="textarea" rows="1" placeholder=""></textarea>
                    
                </div>
                <div class="form-wide form-action">
                    <div class="form-detail">* для уточнения бронирования <br>наш администратор свяжется с вами.</div>
                    <div class="form-btn">
                        <button type="submit" id="modal-btn">
                            <a href="#">Отправить</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    

	{{parent()}}
    <script>
    var categories = [];
        {% for category in categories %}
            categories.push('{{category.title}}');
        {% endfor %}

    </script>
    
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/ru.js') }}"></script>
    
    {% if is_mobile() %}
        <script src="{{ asset('js/mobile-calendar.js') }}"></script>
    {% else %}
        <script src="{{ asset('js/calendar.js') }}"></script>
    {% endif %}



    
{% endblock %}