<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% if is_mobile() %}
                <link href="{{ asset('css/mobile-style.css') }}" rel="stylesheet" />
            {% else %}
                <link href="{{ asset('css/desktop-style.css') }}" rel="stylesheet" />
            {% endif %}
        <link href="{{ asset('css/form-style.css') }}" rel="stylesheet" />	
        <link href="{{ asset('bundles/uikit/css/uikit.almost-flat.min.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
                    <form class="uk-form">
                                <input id="name" type="text" required>
                                <div class="uk-form-select" data-uk-form-select>
                                    <label>Что бронируем</label>
                                    <select>
                                        <option value="">Мафия</option>
                                        <option value="">Теннис</option>
                                    </select>
                                </div>

                                <input id="number" type="number" required>
                                
                                <input data-uk-datepicker="{format:'DD.MM.YYYY'}" type="text" id="date" required />
                        
                                <input type="text" id="begin" required data-uk-timepicker/>
                         
                                <input type="text" id="end" required/ data-uk-timepicker>
                       
                                <label for="name">Телефон*</label>
                          
                            <textarea id="message" type="textarea" rows="1" placeholder=""></textarea>
      
                    </form>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/uikit/js/uikit.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/uikit/js/components/datepicker.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/uikit/js/components/timepicker.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
        {% endblock %}
    </body>
</html>
