{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block title %}Контакты{% endblock %}

{% block body %}
<div id="map"></div>
<div id="left-side" class="left-side-calendar">
    <div id="static">
        {% if is_mobile() %}
            <div id="logo">
                <a href="{{ path('home') }}"><img src="{{ asset('img/logo-mobile.svg') }}"></a>
            </div>
        {% else %}
            <a href="{{ path('home') }}"><img id="logo" src="{{ asset('img/logo-desktop.svg') }}"></a>
        {% endif %}
        <ul id="menu">
            <li class="menu-item {{ app.request.get('_route') == 'home' ? 'active' }}"><a href="{{ path('home') }}">Бронирование</a></li>
            <li class="menu-item {{ app.request.get('_route') == 'calendar' ? 'active' }}"><a href="{{ path('calendar') }}">Календарь</a></li>
            <li class="menu-item {{ app.request.get('_route') == 'contacts' ? 'active' }}"><a href="{{ path('contacts') }}">Контакты</a></li>
        </ul>

    </div>
    <div id="left-contacts">
        {% for contact in contacts %}
        <div class="contact-item">
            <small>{{contact.name}}</small><br>{{contact.value}}
        </div>
        {% endfor %}
    </div>
</div>
<div id="desktop-center">
    
</div>
<div id="mobile-center">
</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <script type="text/javascript" src="{{ asset('js/contacts.js') }}"></script>
{% endblock %}