{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('css/timetablejs.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/timetable-widget.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div id="left-side">
		<div id="static">
			{% if is_mobile() %}
			<div id="logo">
                <a href="{{ path('home') }}"><img src="{{ asset('img/logo-mobile.svg') }}"></a>
            </div>
            {% else %}
                <a href="{{ path('home') }}"><img id="logo" src="{{ asset('img/logo-desktop.svg') }}"></a>
            {% endif %}
			
			<ul id="menu">
				<li class="menu-item {{ app.request.get('_route') == 'home' ? 'active' }}"><a href="{{ path('home') }}">Главная</a></li>
				<li class="menu-item {{ app.request.get('_route') == 'calendar' ? 'active' }}"><a href="{{ path('calendar') }}">Календарь</a></li>
                <li class="menu-item {{ app.request.get('_route') == 'contacts' ? 'active' }}"><a href="{{ path('contacts') }}">Контакты</a></li>
			</ul>
		</div>
		<div id="modal-card">
			<div id="modal-left">
				<div id="modal-photo"></div>
			</div>
			<div id="modal-right">
				<div id="modal-info">
					<div class="modal-close" id="modal-close"><img src="{{ asset('img/close.svg') }}"></div>
					<h3 id="modal-title"></h3>
					<p id="modal-description"></p>
				</div>
				<div id="modal-action">
					<div id="modal-price"><span></span></div>
					<div id="modal-btn">
						<a href="#">Забронировать</a>
					</div>
				</div>
				<div id="modal-additional"></div>
			</div>
		</div>
	</div>
	<div id="desktop-center">
		<object id="main-svg" type="image/svg+xml" data="{{ asset('img/next-main.svg') }}">Your browser does not support SVGs</object>
	</div>
	<div id="mobile-center">
		<div id="mobile-center-top">
			<img id="mobile-center-image" src="{{ asset('img/mobile/mafia.svg') }}">
		</div>
		<div id="mobile-center-bottom">
			<h3 id="mobile-title">Клуб Мафии</h3>
			<p id="mobile-description">Единственный в Черноморске официальный клуб мафии. Игры проводятся профессиональным ведущим</p>
			<div id="mobile-action">
				<div id="mobile-price"><span>70 грн</span></div>
				<div id="mobile-btn">
					<a href="#">Забронировать</a>
				</div>
			</div>
            <div id="mobile-additional"></div>
		</div>
	</div>
	<div id="right-side">
		<ul id="offers">
            {% if is_mobile() %}
                {% for offer in offers %}
                    <li onclick="showModal('{{offer.slug}}')"><a id="{{offer.slug}}-offer" href="#" >{{offer.title}}</a></li>
                {% endfor %}
            {% else %}
                {% for offer in offers %}
                    <li onmouseover="hoverList('{{offer.slug}}')" onmouseout="hideList('{{offer.slug}}')" onclick="showModal('{{offer.slug}}')"><a id="{{offer.slug}}-offer" href="#" >{{offer.title}}</a></li>
                {% endfor %}
            {% endif %}

			
		</ul>
	</div>
    <!-- Modal form begin -->
	<div id="modal-form-wrapper">
        <div id="modal-form">
            <div class="modal-close" id="modal-form-close">
                <img src="{{ asset('img/close.svg') }}">
            </div>
            <div class="timetable"></div>
            <div id="booking-form">
                <form id="booking" class="uk-form">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="begin">Дата бронирования</label>
                            <input name="form-date" data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{ months:['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], weekdays:['Вс','Пн','Вт','Ср','Чт','Пт','Сб'] }}" type="text" id="form-date" required />
                        </div>
                        <div class="form-group">
                            <label for="form-category">Что бронируем</label>
                                <select name="form-category" id="form-category">
                                    <option value="Xbox-360">Xbox-360</option>
                                    <option value="Sony PS">Sony PS</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="form-time-begin">От</label>
                            <input id="form-time-begin" name="form-time-begin" type="time" value="09:00" min="9:00" max="23:00" step="900">
                        </div>
                        <div class="form-group">
                            <label for="form-time-end">До</label>
                            <input id="form-time-end" name="form-time-end" type="time" value="10:00" min="9:00" max="23:00" step="900">
                        </div>
                        <div class="form-group">
                            <label for="number">Количество человек</label>
                            <input name="form-number" id="form-number" type="number" min="1" value="1" required>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input name="form-name" id="form-name" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Телефон*</label>
                            <input name="form-phone" id="form-phone" type="tel" required>
                        </div>
                    </div>
                    <div class="form-wide form-action">
                        <div class="form-detail">* для уточнения бронирования <br>наш администратор свяжется с вами.</div>
                        <div class="form-btn">
                            <button type="submit" id="modal-btn">
                                Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal form end -->
    
    
    <div id="modal-notification">
        Вы успешно отправили заявку на бронирование! Ожидайте звонка для подтверждения бронирования.
    </div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{% if is_mobile() %}
        <script src="{{ asset('js/mobile-homepage.js') }}"></script>
    {% else %}
        <script src="{{ asset('js/homepage.js') }}"></script>
    {% endif %}
	<script>
        var offers = [];
            {% for offer in offers %}
                offers.push('{{offer.title}}');
            {% endfor %}
        </script>
        <script type="text/javascript" src="{{ asset('js/timetable.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/scroll-to.min.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ asset('js/booking.js') }}"></script>
   
{% endblock %}