{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
	<div id="left-side">
		<div id="static">
			<img id="logo" src="{{ asset('img/logo.png') }}">
			<ul id="menu">
				<li class="menu-item {{ app.request.get('_route') == 'home' ? 'active' }}"><a href="{{ path('home') }}">Главная</a></li>
				<li class="menu-item {{ app.request.get('_route') == 'calendar' ? 'active' }}"><a href="{{ path('calendar') }}">Календарь событий</a></li>
				<li class="menu-item {{ app.request.get('_route') == 'booking' ? 'active' }}"><a href="{{ path('booking') }}">Бронирование</a></li>
			</ul>
		</div>
		<div id="modal-card">
			<div id="modal-left">
				<div id="modal-photo"></div>
			</div>
			<div id="modal-right">
				<div id="modal-info">
					<div id="modal-close"><img src="{{ asset('img/close.svg') }}"></div>
					<h3 id="modal-title">Клуб Мафии</h3>
					<p id="modal-description">Единственный в Черноморске официальный клуб мафии. Игры проводятся профессиональным ведущим</p>
				</div>
				<div id="modal-action">
					<div id="modal-price"><span>70 грн</span></div>
					<div id="modal-btn">
						<a href="#">Забронировать</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="desktop-center">
		<object id="main-svg" type="image/svg+xml" data="{{ asset('img/next-light8-areas-darker.svg') }}">Your browser does not support SVGs</object>
	</div>
	<div id="mobile-center">
		<div id="mobile-center-top">
			<img id="mobile-center-image" src="{{ asset('img/mobile/mafia.svg') }}">
		</div>
		<div id="mobile-center-bottom">
			<h3 id="mobile-title">Клуб Мафии</h3>
			<p id="mobile-description">Единственный в Черноморске официальный клуб мафии. Игры проводятся профессиональным ведущим</p>
			<div id="mobile-action">
				<div id="mobile-price"><span>70 грн</span></div>
				<div id="mobile-btn">
					<a href="#">Забронировать</a>
				</div>
			</div>
		</div>
	</div>
	<div id="right-side">
		<ul id="offers">
			{% for offer in offers %}
				<li onmouseover="hoverList('{{offer.slug}}')" onmouseout="hideList('{{offer.slug}}')" onclick="showModal('{{offer.slug}}')"><a id="{{offer.slug}}-offer" href="#" >{{offer.title}}</a></li>
		    {% endfor %}
		</ul>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
	{% if is_mobile() %}
        <script src="{{ asset('js/mobile-homepage.js') }}"></script>
    {% else %}
        <script src="{{ asset('js/homepage.js') }}"></script>
    {% endif %}
	{{parent()}}
   
{% endblock %}