<h1>Заявка на бронирование события</h1>
<h3>{{event}}</h3>
<p>Дата: {{date}}</p>
<p>Время: {{begin}}</p>
<hr>
<p>Имя: {{name}}</p>
<p>Телефон: {{phone}}</p>
<p>Количество человек: {{number}}</p>
<p>Дополнительная информация: {{message}}</p>

