<h1>Заявка на бронирование</h1>
<h3>{{category}}</h3>
<hr>
<p>Имя: {{name}}</p>
<p>Телефон: {{phone}}</p>
<hr>
<p>Количество человек: {{number}}</p>
<p>Дата: {{date |date('Y-m-d')}}</p>
<p>Время начала: {{begin|date('H:i')}}</p>
<p>Время конца: {{end|date('H:i')}}</p>
