<h1>Заявка на бронирование</h1>
<h3>{{offer}}</h3>
<hr>
<p>Имя: {{name}}</p>
<p>Телефон: {{phone}}</p>
<hr>
<p>Количество человек: {{number}}</p>
<p>Дата: {{date}}</p>
<p>Время начала: {{begin}}</p>
<p>Время конца: {{end}}</p>
<p>Дополнительная информация: {{message}}</p>